<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
      <title>Test</title>
      <!-- We'll use the compiled and minified CSS from version 4.3.1 for this tutorial -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <!-- add in the navbar -->


    <audio controls>
    	<source src="/static/Let's Talk About It _ fix .mp3" type="audio/mpeg">

    </audio>

    <audio controls>
    	<source src="/static/Magic Detour fix .mp3" type="audio/mpeg">

    </audio>

    <audio controls>
        <source src="/static/Seven 8.26.mp3" type="audio/mpeg">

    </audio>

    <audio controls>
        <source src="/static/Path  8.26 (1).mp3" type="audio/mpeg">

    </audio>


</body>
</html>
